<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57277552174-25qc2f76aoc499m7du24ib5sprt1gv6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57277552174-25qc2f76aoc499m7du24ib5sprt1gv6l</string>
	<key>API_KEY</key>
	<string>AIzaSyDcL4x74lgrwTcQxze9Muye7mul3VOVm-M</string>
	<key>GCM_SENDER_ID</key>
	<string>57277552174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.micit.task</string>
	<key>PROJECT_ID</key>
	<string>licit-task</string>
	<key>STORAGE_BUCKET</key>
	<string>licit-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57277552174:ios:15ceff0436020e3cdbb1bf</string>
</dict>
</plist>